<!-- 
Example launch file: launches the scan matcher with pre-recorded data
-->

<launch>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" 
    args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /velodyne 40" />

  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" 
    name="laser_scan_matcher_node" output="screen">

    <param name="use_imu" value="true"/>
    <param name="use_odom" value="false"/>
    <param name="use_vel" value="false"/>
    <param name="max_iterations" value="10"/>


    <!--pointcloud-->
    <param name="use_cloud_input" value="false"/>
    <param name="cloud_range_min" value=".1"/>
    <param name="cloud_range_max" value="50"/>



<!--    
(double, default: 0.10) 
kf_dist_angular (double, default: 0.175) 


~publish_tf (bool, default: true) 
~publish_pose (bool, default: true)
~publish_pose_stamped (bool, default: false) --> 
  </node>

</launch>
